.space{
	height:25px;
}

.shadows{
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #1abc9c;
    padding: 0 4px;
    height: 32px;
    border: 0;
    border-radius: 4px;
    font-size: 2.5rem;
}

.ion-scroll { 
	white-space: normal;
	height:100%;
}